@charset "utf-8";

/* 
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Emmanuel Cortes
   Date:    

   Filename: pcg_paper.css
   Supporting Files: 10
 */


/* WINDOW STYLES */

html {
  height: 100%;
  background-color: rgb(209, 178, 121);
}

body {
  width: 100%;
  min-width: 640px;
  max-width: 960px;
  margin: auto;
  min-height: 100%;
  background-color: rgb(242, 218, 140);
  display: block;
}

/* HEADER STYLES */

img#logo {
  width: 100%;
  display: block;
}

header nav {
  float: left;
  width: 100%;
  padding-bottom: 13px;
  background-color: rgb(114, 89, 9);
}

header nav ul li {
  float: left;
  text-align: center;
  font-family: 'PT Serif', serif;
  list-style: none;
  width: 18%;
  /* padding-left: 23px */
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: rgb(242, 218, 140);
}

/* BODY STYLES */

h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  display: block;
  margin: auto;
}

p {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

/* FOOTER STYLES */

footer {
  color: white;
  text-align: center;
  background-color: rgb(114, 89, 9);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Serif', serif;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgb(242, 218, 140);
}